*{
  box-sizing: border-box;
  position: relative;
}
.container{
  margin:0 auto;
  overflow: auto;

}
.test{
  height: 200px;
  width: 200px;
  background-image: url(cards-svg/2C.svg);
  /*background-size: contain;*/
}
#start_button{
  position: absolute;
  top: 15%;
  left: 15%;
  height: 50%;
  width: 50%;
}
#player2_board{
  width: 100%;
  height: 25%;
  border: 3px solid red;
}
#player2_deck{
  margin: 0 auto;
  width: 143px;
  height: 200px;
  box-sizing: border-box;
  float: center;
  border: 1px solid black;
}
#card_table{
  width: 100%;
  height: 50%;
  border: 5px solid blue;

}
#player1_hand{
float: left;
width: 143px;
height: 200px;
border: 10px solid yellow;
}
#next_round{
  position: absolute;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  top: 10%;
  left: 45%;
}
#player2_hand{
float: right;
width: 143px;
height: 200px;
border: 10px solid green;

}
#result{
  position:absolute;
  top: 40%;
  left: 40%;
  width: 200px;
  height: 50px;
  border: 2px solid purple;
}
.clearfix{
  top: 0px;
  overflow: auto;
}
#player1_board{
  position: static;
  bottom: 0px
  width:100%;
  height: 25%;
  border: 3px solid red;


}
#player1_deck{
  margin: 0 auto;
  width: 143px;
  height: 200px;
  float: center;
  border: 1px solid black;

}
#player1_war1{
  width: 143px;
  height: 200px;
  border: 1px solid black;
  float: left;

}
#player1_war2{
  width: 143px;
  height: 200px;
  border: 1px solid black;
  float: right;

}
#player2_war1{
  width: 143px;
  height: 200px;
  border: 1px solid black;
  float: left;

}
#player2_war2{
  width: 143px;
  height: 200px;
  border: 1px solid black;
  float: right;

}
